<section class="bar background-white">
    <div id="sponsors"></div>
    <div class="container" style="text-align: center">
        <h1 style="text-align: center">Sponsors</h1>
        <br>
        <h2>expeRt</h2>
        <a href="https://azure.microsoft.com/en-us/" target="_blank"><img src="../img/Microsoft.png" width="250" title="Microsoft"></a>
        <br>
        <h2>ResouRce</h2>
        <a href="http://www.ohsu.edu/xd/education/schools/school-of-medicine/departments/clinical-departments/dmice/" target="_blank"><img src="../img/dmice.png" width="450" title="OHSU Dept. Medical Informatics and Clinical Epidemiology"></a>
        <br>
        <h2>scholaR</h2>
        <a href="http://sagebionetworks.org/" target="_blank"><img src="../img/SageBionetworks-Logo.png" width="450" title="Sage Bionetworks"></a>
        <a href="https://www.h2o.ai/" target="_blank"><img src="../img/H2O-logo-01.png" width="130" title="H20.AI"></a>
        <br>
        <h2>fRiend</h2>
        <a href="https://www.cooladata.com/" target="_blank"><img src="../img/cooladata.png" width="250" title="Cooladata"></a>
        <a href="http://ohsugso.weebly.com/" target="_blank"><img src="../img/ohsu.png" width="150" title="OSHU Graduate Student Organization"></a>
    </div>
</section>
