<section class="bar background-gray">
    <div id="submit"></div>
    <div class="container">
        <!-- <h1 style="text-align: center">Register/Submit a Talk/<br>Scholarships/Childcare</h1> -->
        <h1 style="text-align: center">Register/Submit a Talk</h1>
        <p style="text-align: center">
            <a class="btn btn-info" role="button" href="https://www.eventbank.com/event/11944/register/" target="_blank">Register</a>
            <br><br>
            <!-- <a class="btn btn-primary" role="button" target="_blank" disabled>Submit</a> -->
            <a class="btn btn-primary" role="button" href="https://www.eventbank.com/event/cascadia-r-conference-2019-11944/" target="_blank">Submit</a>
            <!-- <a class="btn btn-warning" role="button" target="_blank" disabled>Diversity Scholarship</a> -->
            <!-- <a class="btn btn-success" role="button" target="_blank" disabled>Childcare</a> -->
            <br><br>
        </p>
        <!-- <h3 style="text-align: center">Diversity scholarship deadline: April 20, 2018</h3> -->
        <h3 style="text-align: center">Talk submission deadline: April 7, 2019</h3>
        <!-- <h3 style="text-align: center">Child care interest deadline: May 5, 2018</h3> -->
        <!-- <h3 style="text-align: center">Early Bird registration deadline: May 8, 2018</h3> -->
    </div>
</section>
