<section class="bar background-gray">
    <div id="submit"></div>
    <div class="container">
        <h1 style="text-align: center">Register/Submit a Talk/<br>Scholarships/Childcare</h1>
        <p style="text-align: center">
            <a class="btn btn-info" role="button" href="https://www.eventbrite.com/e/cascadia-r-conference-tickets-42770967114" target="_blank">Register</a>
            <a class="btn btn-primary" role="button" target="_blank" disabled>Submit</a> 
            <a class="btn btn-warning" role="button" target="_blank" disabled>Diversity Scholarship</a>
            <a class="btn btn-success" role="button" href="http://bit.ly/cascadiarconf18-childcare" target="_blank">Childcare</a>
            <br><br>
        </p>
        <h3 style="text-align: center">Diversity scholarship deadline: April 20, 2018</h3>
        <h3 style="text-align: center">Talk submission deadline: April 30, 2018</h3>
        <h3 style="text-align: center">Child care interest deadline: May 5, 2018</h3>
        <h3 style="text-align: center">Early Bird registration deadline: May 8, 2018</h3>
    </div>
</section>
