/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}
