<div class="row">
<div class="speakerContainer container">
	<div class="row">
		<div class="row speaker-title">
			<h3 id="ID"> Isabella Velásquez </h3>
			<!-- <h4> TITLE </h4> -->
		</div>
		<div class="row">
			<div class="portrait col-md-3">
				<img  src="img/speakers/speakers_2023/isabella_velasquez.jpg" />
			</div>
			<div class="details col-md-9">
				<div class="biography">
				  <br><br>
					<p>Isabella is an R enthusiast, first learning the programming language during her MSc in Analytics. Previously, Isabella conducted data analysis and research, developed infrastructure to support use of data, and created resources and trainings. Her work on the Posit (formerly RStudio) Marketing team draws on these experiences to create content that supports and strengthens data science teams. In her spare time, Isabella enjoys playing with her tortoiseshell cat, watching film analysis videos, and hiking in the mountains around Seattle. Find her on Twitter and Mastodon: @ivelasq3</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="speakerContainer container">
	<div class="row">
		<div class="row speaker-title">
			<h3 id="ID">A selection from the organizing team of the first ever Cascadia R Conf </h3>
			<!--<h4>Scott Chamberlain, Jessica Minnier, Chester Ismay</h4>-->
		</div>
		<div class="row">
 			<div class="portrait col-md-3">
				<img src="../img/speakers/speakers_2023/og_cascadiar.png" />
			</div> 
			<div class="details col-md-9">
				<div class="biography">
				  <br><br><br>
					<p>Join Jessica Minnier, Chester Ismay, and Ted Laderas, organizers of the first ever Cascadia R Conf!
					</p>
				</div>
			</div>
		</div>		
	</div>
</div>
</div>

<style>
    
.portrait {display: inline-block;top:0px; margin:10px;padding:10px;width:165px}
.portrait img {max-height:200px; width:auto; max-width:100%; height:auto;}
.portrait p {max-height:200px; width:auto; margin: 20px 0 0 0;}
.details {display:inline-block; margin:10px ;padding:10px}
.portraitContainer {width: 200px;}
.detailsContainer {width:100%;}
.speakerContainer { 
	transition: all .2s ease-in-out;
	padding: 15px;
    padding-left: 50px; }
.speakerContainer:hover { transform: scale(1.01); }
.speaker-title {margin-left: 0;}

@media all and (max-width:740px) {
	.agenda {width:100%;}
	
	.speakers tr {display: table;width:100%;}               
	.speakers td {display: table-row; width:100%}
	
	.portraitContainer {width:100%;}
	.detailsContainer {width:100%;}
	
	.portraitContainer {width:100%;}
	.detailsContainer {width:100%;}
}
</style>
