<div class="row">
<div class="speakerContainer container">
	<div class="row">
		<div class="row speaker-title">
			<h3 id="stephanie_hazlitt"> Stephanie Hazlitt </h3>
			<h4> Observations from the field: regime shifts in R and data science within the BC Public Service
            </h4>
            <p>The BC Public Service has seen a significant shift towards the use of R and 
                other data science tools for data analysis and communication. In the natural 
                world, these regime shifts—large, persistent changes to a system—usually 
                require some perturbation (either internal or external)
                or disturbance event to initiate the shift. This talk will share insider 
                observations of some of the events, processes, and even a disturbance, 
                that have helped kickstart and support the use and growth of R and develop 
                a data science community. Together these changes, with some ongoing organizational 
                support, have enabled some individual contributors, data science teams and 
                leadership in the BC Public Service to shift towards more programmatic, open 
                and reproducible data science workflows
                </p>
		</div>
		<div class="row">
			<div class="portrait col-md-3">
				<img  src="../img/speakers_2021/stephanie_hazlitt.JPG" />
			</div>
			<div class="details col-md-9">
				<div class="biography">
					<p>Stephanie Hazlitt is a Senior Data Scientist with the British Columbia
						Provincial Government. She uses R in her everyday work supporting
						data-driven decision making, and supports people and teams in
						learning, creating and sharing data science tools and products. She is
						helping to enhance data science capacity in the British Columbia
						Public Service by coordinating and team teaching workshops, supporting
						a growing community of practice and collaborating on R packages that
						support data science workflows.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="speakerContainer container">
	<div class="row">
		<div class="row speaker-title">
			<h3 id="julia_and_allison"> Allison Horst and Julia Lowndes </h3>
			<h4>Open science as a movement and the art of Openscapes</h4>
            <p>The open science movement is “a collaborative culture enabled by 
                technology that empowers the open sharing of data, information 
                and knowledge within the scientific community and the wider public 
                to accelerate scientific research and understanding” (Ramachandran 
                et al 2021). We’ve felt included in this movement through the #rstats 
                community, and argue that open data science is a powerful entryway 
                to welcome researchers to open science – one that transforms open 
                science from an aspirational idea to a tangible daily benefit for 
                efficiency, reproducibility, and collaboration. We will share how 
                Openscapes is helping to onboard more research teams to the open 
                science movement, in part through artwork to represent and develop 
                ideas to make open science more inclusive and kind.
            </p>
		</div>
		<div class="row">
			<div class="portrait col-md-3">
				<img src="../img/speakers_2021/julia_lowndes.jpg" />
			</div>
			<div class="details col-md-9">
				<div class="biography">
					<p>Julia Stewart Lowndes is a marine data scientist and Senior Fellow 
						at the National Center for Ecological Analysis and Synthesis (NCEAS).
						As founding director of Openscapes (created during her Mozilla Fellowship) 
						she champions kinder, better science in less time and empowers science
						teams with skillsets and mindsets for open, reproducible research.
						She earned her PhD at Stanford University in 2012 studying drivers 
						and impacts of Humboldt squid in a changing climate. She is a Carpentries 
						instructor and co-founder of Eco-Data-Science and R-Ladies Santa Barbara.
					</p>
				</div>
			</div>
		</div>		
		<div class="row">
			<div class="portrait col-md-3">
				<img src="../img/speakers_2021/allison_horst.jpg" />
			</div>
			<div class="details col-md-9">
				<div class="biography">
					<p>Allison Horst is an Assistant Teaching Professor at the Bren School 
						of Environmental Science and Management at UC Santa Barbara, where 
						she has been teaching environmental data science, math and data 
						analysis courses since 2012. Through her artwork, Allison illustrates
						data science concepts, R packages and functions, workflows and mindsets 
						to welcome and support R learners, and was RStudio's Artist-in-Residence 
						from 2019 - 2020. She co-founded and is an active member of the UCSB 
						TidyTuesday coding club and R-Ladies Santa Barbara.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<style>
    
.portrait {display: inline-block;top:0px; margin:10px;padding:10px;width:165px}
.portrait img {max-height:200px; width:auto; max-width:100%; height:auto;}
.portrait p {max-height:200px; width:auto; margin: 20px 0 0 0;}
.details {display:inline-block; margin:10px ;padding:10px}
.portraitContainer {width: 200px;}
.detailsContainer {width:100%;}
.speakerContainer { 
	transition: all .2s ease-in-out;
	padding: 15px;
    padding-left: 50px; }
.speakerContainer:hover { transform: scale(1.01); }
.speaker-title {margin-left: 0;}

@media all and (max-width:740px) {
	.agenda {width:100%;}
	
	.speakers tr {display: table;width:100%;}               
	.speakers td {display: table-row; width:100%}
	
	.portraitContainer {width:100%;}
	.detailsContainer {width:100%;}
	
	.portraitContainer {width:100%;}
	.detailsContainer {width:100%;}
}
</style>