<div class="row">
<div class="speakerContainer container">
	<div class="row">
		<div class="row speaker-title">
			<h3 id="ID"> NAME </h3>
			<h4> TITLE
            </h4>
            <p>ABSTRACT
                </p>
		</div>
		<div class="row">
			<div class="portrait col-md-3">
				<img  src="../img/speakers_2023/PHOTO.jpg" />
			</div>
			<div class="details col-md-9">
				<div class="biography">
					<p>BIOGRAPHY</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="speakerContainer container">
	<div class="row">
		<div class="row speaker-title">
			<h3 id="ID"> NAME </h3>
			<h4>TITLE</h4>
            <p>ABSTRACT
            </p>
		</div>
		<div class="row">
 			<div class="portrait col-md-3">
				<img src="../img/speakers_2023/PHOTO.jpg" />
			</div> 
			<div class="details col-md-9">
				<div class="biography">
					<p>BIOGRAPHY
					</p>
				</div>
			</div>
		</div>		
	</div>
</div>
</div>

<style>
    
.portrait {display: inline-block;top:0px; margin:10px;padding:10px;width:165px}
.portrait img {max-height:200px; width:auto; max-width:100%; height:auto;}
.portrait p {max-height:200px; width:auto; margin: 20px 0 0 0;}
.details {display:inline-block; margin:10px ;padding:10px}
.portraitContainer {width: 200px;}
.detailsContainer {width:100%;}
.speakerContainer { 
	transition: all .2s ease-in-out;
	padding: 15px;
    padding-left: 50px; }
.speakerContainer:hover { transform: scale(1.01); }
.speaker-title {margin-left: 0;}

@media all and (max-width:740px) {
	.agenda {width:100%;}
	
	.speakers tr {display: table;width:100%;}               
	.speakers td {display: table-row; width:100%}
	
	.portraitContainer {width:100%;}
	.detailsContainer {width:100%;}
	
	.portraitContainer {width:100%;}
	.detailsContainer {width:100%;}
}
</style>
