<section class="container">
  <div class="register">
    <a class="btn btn-primary" 
        href="https://www.eventbrite.com/e/1978631305498/"
        role="button"
        id="register-button">
        Register
    </a>
    <br>
    
    <h3 style="text-align: center">Early-bird discounts available through March 31!</h3>
    <!--
    <h3 style="text-align: center">Available through March 31</h3>
    -->
    
</div>
</section>

<style>
    .register {
        text-align: center;
        padding-bottom: 30px;
        margin-top: -70px;
    }
    .register a {
        font-size: 30px;
    }
</style>
