<section class="container">
    <div class="container">
      <h1 style="text-align: center">Cascadia R Conf</h1>
      <p style="text-align: center"><img src="../{{ .Site.Params.logo_sticker }}" width="300" title="Remember to get your sticker at the conference"></img></p>
<!--    
      <h3 style="text-align: center">Thank you to all our 2025 speakers, sponsors, and attendees!</h3>
      <h3 style="text-align: center">Looking forward to seeing you again in Portland 2026!</h3>
-->       

      <h3 style="text-align: center">June 26 - 27, 2026</h3>
      <h3 style="text-align: center">Portland, OR, USA</h3>
      
      <br><br><br>
     
    </div>
</section>
