<section class="container">
    <div class="container">
      <h1 style="text-align: center">Cascadia R Conf</h1>
      <p style="text-align: center"><img src="../{{ .Site.Params.logo_sticker }}" width="300" title="Remember to get your sticker at the conference"></img></p>
      <h3 style="text-align: center">Thank you to all our 2023 speakers, sponsors, and attendees!</h3>
      <br>
      <h3 style="text-align: center">Stay tuned for updates on the 2024 conference!</h3>

      <!--<h3 style="text-align: center">Saturday, August 19, 2023</h3>
      <h3 style="text-align: center">Seattle, WA, USA</h3>-->
      
      <br><br><br>
      
    </div>
</section>
