<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">
       {{ partial "nav.html" . }}
        
        <!--{{ partial "alert.html" . }}-->

        {{ partial "sticker.html" . }}
        
        <!--{{ partial "cfp.html" . }}-->
        
        <!--{{ partial "register.html" . }}-->
        
        <!--{{ partial "scholarship.html" . }}-->
        
        {{ partial "see_more.html" . }}

        {{ partial "keynotes.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
