<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav_regbutton.html" . }}
        
        <!--{{ partial "alert.html" . }}-->

        {{ partial "sticker.html" . }}
        
        <!--{{ partial "register.html" . }}-->
        
        {{ partial "cfp.html" . }}

        <!--{{ partial "see_more.html" . }}-->

        <!--{{ partial "keynotes.html" . }}-->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
