<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav_2022_regbutton.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}


        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-9" id="blog-listing-medium">

                        {{ .Content | markdownify}}
                        {{ range (.Pages.ByParam "categories") }}
                        <section class="post">
                            <div class="row">
                                <div class="col-md-4">
                                  <div class="image">
                                      <a href="{{ .Params.sponsor_link }}" target="_blank">
                                        {{ with (index (.Resources.ByType "image") 0) }}
                                              <img src="{{ .RelPermalink  | relURL }}" class="img-responsive" alt="">
                                        {{ end }}
                                      </a>
                                  </div>
                                </div>
                                <div class="col-md-8">
                                    <h2 id="{{ .Title }}">{{ .Title }}</h2>
                                    {{ if .Params.pronouns }}
                                    <h5>Pronouns: {{ .Params.pronouns }}</h5>
                                    {{ end }}
                                    <h5>{{ .Params.location }}</h5>
                                    
                                    {{ if .Params.session }}
                                    <div class="clearfix">
                                        <p class="session-name">
                                            <h4>Session: {{ .Params.session | markdownify }}</h4>
                                        </p>
                                    </div>
                                    {{ end }}
                                    <h4>{{ .Params.talk | markdownify }}</h4>
                                    <p class="intro">
                                        {{ .Content | markdownify }}
                                    </p>
                                </div>
                            </div>
                        </section>
                        {{ end }}

<!--                         <ul class="pager">
                            {{ if .Paginator.HasPrev }}
                            <li class="previous"><a href="{{ .Paginator.Prev.URL | relURL }}">&larr; {{ i18n "newer" }}</a></li>
                            {{ else }}
                            <li class="previous disabled"><a href="#">&larr; {{ i18n "newer" }}</a></li>
                            {{ end }}

                            {{ if .Paginator.HasNext }}
                            <li class="next"><a href="{{ .Paginator.Next.URL | relURL }}">{{ i18n "older" }} &rarr;</a></li>
                            {{ else }}
                            <li class="next disabled"><a href="#">{{ i18n "older" }} &rarr;</a></li>
                            {{ end }}
                        </ul> -->
                    </div>
                    <!-- /.col-md-9 -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN ***
       _________________________________________________________ -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->

                        {{ partial "sidebar.html" . }}

                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
